# dependencies
/node_modules

# build
/dist
/.firebase
/firebase-debug.log
.firebase/

# environment variables
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.temp

# testing
/coverage

# production
/build

# typescript
*.tsbuildinfo
next-env.d.ts
